.imgMe {
  width: 17em;
  border-radius: 50px 150px;
  padding: 5px;
  background-color: white;
}

.about {
  display: flex;
  justify-content: center;
  margin-top: 3em;
}

.aboutMe {
  margin-left: 1.5em;
  width: 45%;
  background-color: blueviolet;
  padding: 0.5px 20px;
  border-radius: 10px;
  font-size: 17px;
  color: #fff;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

@media screen and (max-width: 768px) {
  .about {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
  }
  .imgMe {
    width: 40vw;
    height: 60vw;
    border-radius: 50px 50px;
    margin-bottom: 2%;
    margin-top: -5%;
  }
  .aboutMe {
    width: 80%;
    font-size: 12px;
    margin-bottom: 5%;

  }
}