.imgMe {
  width: 17em;
  border-radius: 50px 150px;
  padding: 5px;
  background-color: white;
}

.about {
  display: flex;
  justify-content: center;
  margin-top: 3em;
}

.aboutMe {
  margin-left: 1.5em;
  width: 45%;
  background-color: blueviolet;
  padding: 0.5px 20px;
  border-radius: 10px;
  font-size: 16px;
  color: #fff;
  -webkit-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
	-moz-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
	box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.title {
  white-space: nowrap;
  overflow: hidden;
  animation: typing 2s steps(40) 1s normal both;
}

@media screen and (max-width: 768px) {
  .about {
    display: flex;
    margin-bottom: 7%;
  }
  .imgMe {
    display: none;
  }
  .aboutMe {
    width: 80%;
    font-size: 13px;
    margin-bottom: 5%;
    box-shadow: -9px -7px 10px rgba(50, 50, 50, 0.6);
  }
}