.imgMe {
  width: 17em;
  border-radius: 50px 150px;
  padding: 5px;
  background-color: white;
}

.about {
  display: flex;
  justify-content: center;
  margin-top: 3em;
}

.aboutMe {
  margin-left: 1.5em;
  width: 45%;
  background-color: blueviolet;
  padding: 0.5px 20px;
  border-radius: 10px;
  font-size: 17px;
  color: #fff;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.title {
  white-space: nowrap;
  overflow: hidden;
  animation: typing 4s steps(40) 1s normal both;
}

@media screen and (max-width: 768px) {
  .about {
    display: flex;
    margin-bottom: 7%;
    border-right: 2px solid rgba(137, 43, 226, 0.582) ;
  }
  .imgMe {
    display: none;
  }
  .aboutMe {
    width: 80%;
    font-size: 12px;
    margin-bottom: 5%;
  }
}