body {
  margin: 0;
  padding: 0;
  background-color: indigo;
}

.name {
  margin-top: 2em;
  text-align: center;
  font-size: 80px;
  font-family:'Courier New', Courier, monospace;
  color: #fff;
}

.imgArrow {
  width: 90px;
  float: right;
  margin-right: 25em;
  margin-top: 2em;

  animation-name: arrow;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.dev {
  white-space: nowrap;
  overflow: hidden;
  animation: typing 4s steps(40) 5s normal both;
}

.dev1 {
  white-space: nowrap;
  overflow: hidden;
  animation: typing 4s steps(40) 1s normal both;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes arrow {
  90% {
    transform: translateX(calc(55vw - 350px));
  }
}

@media screen and (max-width: 1250px) {
  .imgArrow {
    display: none;
  }
}

@media screen and (max-width: 830px) {
  .name {
    font-size: 70px;
  }
  .dev {
    margin-top: 15%;
  }
  .imgArrow {
    display: none;
  }
}

@media screen and (max-width: 730px) {
  .name {
    font-size: 60px;
  }
}

@media screen and (max-width: 630px) {
  .name {
    font-size: 50px;
  }
}

@media screen and (max-width: 530px) {
  .name {
    font-size: 40px;
    display: block;
  }
}

@media screen and (max-width: 420px) {
  .name {
    font-size: 35px;
  }
}

@media screen and (max-width: 360px) {
  .name {
    font-size: 30px;
  }
}

@media screen and (max-width: 310px) {
  .name {
    font-size: 25px;
  }
}
