.img-projects {
  width: 90%;
  height: 70%;
  border-radius: 10px;
  -webkit-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
	-moz-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
	box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
}

.btns {
  display: flex;
  justify-content: center;
  margin-bottom: 2.5%;
}

.btn {
  margin-left: 1%;
  padding: 5px;
  width: 85px;
  font-size: 17px;
  border-radius: 10px;
  background-color: blueviolet;
  color: #fff;
  cursor: pointer;
}

.btn:hover {
  color: black;
}

.title {
  text-align: center;
  color: #fff;
  font-size: 40px;
}

.card {
  text-align: center;
  background-color: blueviolet;
  width: 450px;
  height: 350px;
  border-radius: 20px;
  padding: 1%;
  color: #fff;
  margin-bottom: 2em;
  box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
}

.card:hover {
  color: black;
}

.container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

@media screen and (max-width: 520px) {
  .card {
    width: 90%;
    margin: auto;
    margin-bottom: 5%;
    box-shadow: -9px -7px 5px rgba(50, 50, 50, 0.77);
  }
  .title {
    font-size: 30px;
  }
  .img-projects {
    box-shadow: -9px -7px 5px rgba(50, 50, 50, 0.5);
  }
  .btns {
    margin-bottom: 7%;
  }
}

@media screen and (max-width: 350px) {
  .title {
    font-size: 25px;
  }
  .btn {
    width: 70px;
    font-size: 12px;
  }
  .btns {
    margin-bottom: 7%;
  }
  .container {
    font-size: 12px;
  }
}