body {
  margin: 0;
  padding: 0;
} 

.title {
  text-align: center;
  color: #fff;
  font-size: 40px;
}

.container {
  display: flex;
  justify-content: space-around;
}

.card-1 {
  text-align: center;
  background-color: blueviolet;
  width: 500px;
  height: 400px;
  border-radius: 20px;
  padding: 1%;
  color: #fff;
  box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
}

.card-img {
  display: flex;
  flex-wrap: wrap;
}

.card-1:hover {
  color: black;
}

.card-2 {
  text-align: center;
  background-color: blueviolet;
  border-radius: 20px;
  width: 500px;
  height: 400px;
  padding: 1%;
  color: #fff;
  box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
}

.card-2:hover {
  color: black;
}

.img {
  margin-bottom: 2%;
  margin-left: 2%;
  margin-right: 2%;
  width: 45%;
  border-radius: 10px;
  box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
}

.img:hover {
  width: 46%;
}

.imgEjs {
  width: 45%;
  height: 70px;
  margin-bottom: 10px;
  margin-left: 2%;
  margin-right: 2%;
  border-radius: 10px;
  box-shadow: 9px 7px 10px rgba(50, 50, 50, 0.9);
}

.imgEjs:hover {
  width: 46%;
}

@media screen and (max-width: 520px) {
  .card-1 {
    margin-bottom: 10%;
    width: 90%;
  }
  .card-2 {
    margin-bottom: 10%;
    width: 90%;
  }
  .img {
    width: 35%;
    margin-top: 5%;
  }
  .imgEjs {
    margin-top: 14px;
    width: 130px;
    height: 45px;
  }
  .card-img {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 1041px) {
  .card-1 {
    margin-bottom: 5%;
  }
}

@media screen and (max-width: 430px) {
  .card-1 {
    width: 320px;
    height: 300px;
    box-shadow: -9px -7px 5px rgba(50, 50, 50, 0.77);
  }
  .card-2 {
    width: 320px;
    height: 300px;
    box-shadow: -9px -5px rgba(50, 50, 50, 0.77);
  }
  .img {
    width: 29.3%;
    box-shadow: -9px -7px 5px rgba(50, 50, 50, 0.77);
  }
  .imgEjs {
    width: 35%;
    box-shadow: -9px -7px 10px rgba(50, 50, 50, 0.9);
  }
}