body{
    color: white;
    background-image: url(download.jpeg) 
}

.seções{
    text-align: center;
    font-size: 35px;
}

.list{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center; 
    margin-right: 42px;
    list-style-type: none;
    margin-bottom: 45px;
}

.list a{
    color: rgb(23, 207, 100);
}

.trybe{
    color: white;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center; 
}

.img{
    border-radius: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto
    
}

.sobremim{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.hr{
    border-left: 2px;
    border-top: 2px dashed rgb(59, 182, 76);
}

span{
    font-family: fantasy
}

.hab{
    text-align: center;
    font-size: 35px;
    font-style: italic;
}

.list2{
    text-align: center;
    margin-right: 40px;
    list-style-type: none;
}

.blog{
    color: rgb(23, 207, 100);
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-style: italic;
}

.unix{
    font-size: 15px;
}

.bash{
    font-size: 17.5px;
}

.git{
    font-size: 20px;
}

.github{
    font-size: 22.5px;
}

.html{
    font-size: 25px;
}

.linha{
    border-top: 2px dashed rgb(59, 182, 76);
}




