.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 10px;
  background-color: blueviolet;
}

.about {
  margin-right: 15px;
  text-decoration: none;
  color: #fff;
}

.contact {
  margin-right: 15px;
  text-decoration: none;
  color: #fff;
}

.projects {
  margin-right: 15px;
  text-decoration: none;
  color: #fff;
}

.imgGit {
  width: 30px;
  margin-right: 15px;
}