body {
  margin: 0;
  padding: 0;
  background-color: indigo;
}

.name {
  margin-top: 2em;
  text-align: center;
  font-size: 80px;
  font-family:'Courier New', Courier, monospace;
  color: #fff;
}

.imgArrow {
  width: 90px;
  float: right;
  margin-right: 14em;
  margin-top: 2em;
}